body {
  background-image: url('../../images/Eladia_Cleavenger.jpg');
  background-size: cover;
  background-position: bottom left;
  height: 100vh;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}

@media (min-aspect-ratio: 9/6) {
  body{
    background-position: top;
  }
}
