#search-location {
  display: flex;
  flex-direction: column;
  label {
    margin-top: 10px;
  }
  input {
    margin-top: 8px;
    line-height: 18px;
    padding: 2px;
    border: 1px solid black;
  }
  p {
    margin: 0;
    text-align: center;
  }
  .lead {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
  }
  .required {
    font-size: 16px;
    color: red;
  }
}
