.overlay {
  background-color: fade-out($color1, .2);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  .overlay-container {
    border: 5px solid darken($color1, 10%);
    max-width: 560px;
    padding: 0 20px;
    background-color: white;
    display: none;
    max-height: calc(90vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 20px;
    position: relative;
    .cta-close {
      position: absolute;
      color: white;
      background-color: fade-out($color1, .2);
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -5px;
      right: -5px;
      border: 5px solid darken($color1, 10%);
      font-family: monospace;
      font-weight: 800;
      &:hover {
        background-color: white;
        color: darken($color1, 10%);
        cursor: pointer;
      }
    }
  }
}

#results {
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    flex: 1;
  }
  .list-container, #feature-container {
    max-height: calc(90vh - 40px);
  }
}

#doctors {
  text-decoration: underline;
  li {
    margin: 5px 0;
    &:hover {
      color: $color1;
      cursor: pointer;
    }
  }
}

#feature-container {
  position: relative;
  .feature {
    position: relative;
    top: 0%;
    left: 0;
    background-color: white;
    padding-left: 5px;
    display: none;
    &:first-child {
      display: block;
    }
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.3em;
  }
  #doctors {
    padding-left: 0px;
    list-style: none;
  }
}
