.overlay {
  background-color: fade-out($color1, .2);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  #location-container {
    z-index: 1;
  }
  .overlay-container {
    border: 5px solid darken($color1, 10%);
    max-width: 560px;
    padding: 0 30px;
    background-color: white;
    display: none;
    max-height: calc(90vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 20px;
    position: relative;
    .cta-close {
      position: absolute;
      color: white;
      background-color: fade-out($color1, .2);
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -5px;
      left: -5px;
      border: 5px solid darken($color1, 10%);
      font-family: monospace;
      font-weight: 800;
      z-index: 1;
      &:hover {
        background-color: white;
        color: darken($color1, 10%);
        cursor: pointer;
      }
    }
  }
}
