#results {
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    flex: 1;
  }
}

#feature-container {
  position: relative;
  .feature {
    position: relative;
    top: 0%;
    left: 0;
    background-color: white;
    padding-left: 5px;
    display: none;
    max-height: 80vh;
    h1 {
      text-align: center;
    }
  }
}
