#results {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  * {
    flex: 1;
  }
  .list-container, #feature-container {
    max-height: calc(90vh - 40px);
  }
}

.list-container h3 {
  padding-left: 5px;
  &::after {
    content: ":";
  }
}

#doctors {
  text-decoration: underline;
  li {
    margin: 5px 0;
    &:hover {
      color: $color1;
      cursor: pointer;
    }
  }
}


#feature-container {
  position: relative;
  .feature {
    position: relative;
    top: 0%;
    left: 0;
    background-color: white;
    padding-left: 5px;
    display: none;
    &:first-child {
      display: block;
    }
  }
}

@media (max-width: 500px) {
  #results {
    flex-direction: column;
    justify-content: flex-start;
    .list-container {
      text-align: center;
      position: fixed;
      top: -15px;
      overflow: scroll;
      &:hover {
        z-index: 1;
        background-color: white;
        width: 101vw;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid darken($color1, 10%);
        h3 {
          color: black;
          transition: all .4s ease-in-out;
          width: 50%;
          margin-left: 25%;
          &::before {
            content: "Scroll to see more "
          }
        }
        #doctors {
          display: flex;
          opacity: 1;
          transition: all 1s ease-in-out .4s;
        }
      }
      #doctors {
        max-height: 20vh;
        text-align: left;
        list-style: none;
        opacity: 0;
        flex-wrap: wrap;
        padding: 0 10px;
        li {
         padding: 5px;
         min-width: 40%;
        }
      }
      h3 {
        font-size: 25px;
        text-transform: uppercase;
        text-decoration: underline;
        color: white;
        &::before {
          content: "See More ";
        }
        &::after {
          content: "";
        }
      }
    }
    .list-container, #feature-container {
      max-height: none;
    }
  }
}
